[submodule "services/GPTService"]
	path = services/GPTService
	url = https://github.com/ellaym/GPTService/tree/main
[submodule "services/EmailService"]
	path = services/EmailService
	url = https://github.com/ellaym/EmailService/tree/develop
[submodule "services/PaperRetrievalService"]
	path = services/PaperRetrievalService
	url = https://github.com/ellaym/PaperRetrievalService
